{% extends "layout.html" %}
{% block main %}
<h1>{{ current_user.fullname }}</h1>
<hr>
<img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="{{ current_user.username }}">
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.picture.label(class="form-control-label") }}
            {% if form.picture.errors %}
            {{ form.picture(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.picture.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.picture() }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.fullname.label(class="form-control-label") }}
            {% if form.fullname.errors %}
            {{ form.fullname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.fullname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.fullname(class="form-control form-control-lg", value=current_user.fullname) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="form-control form-control-lg", value=current_user.username) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.address.label(class="form-control-label") }}
            {% if form.address.errors %}
            {{ form.address(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.address(class="form-control form-control-lg", value=current_user.address) }}
            {% endif %}
        </div>
    </fieldset>
    <h1>Children</h1>
    <hr>
    <div class="py-3">
        <div class="container">
            <div class="row">
                {% for child in current_user.children %}
                <div class="col-sm-4">
                    <div class="card mb-4 shadow-sm profile-card normal-bg">
                        <div class="card-body">
                            <h3 class="float-left">{{ child.fullname }}</h3>
                        </div>
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/placeholder.png') }}"
                                alt="{{ child.fullname }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h1>Groups</h1>
    <hr>
    <div class="py-3">
        <div class="container">
            <div class="row">
                {% for group in groups %}
                <div class="col-sm-4">
                    <div class="card mb-4 shadow-sm profile-card normal-bg">
                        <div class="card-body">
                            <h3 class="float-left">{{ group.name }}</h3>
                        </div>
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='img/picgroup.png') }}" alt="{{ group.name }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-lg btn-block btn-outline-info") }}
    </div>
</form>
{% endblock main %}