<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% if title %}{{ title }}{% else %}WalkingBus | Home{% endif %}{% endblock title %}</title>
  {% block favicon %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  {% endblock favicon %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% block style %}
  {% endblock style %}
</head>
<body>
  <header class="header">
    <ul class="nav-left">
      <li><a href="#">Home</a></li>
      <li><a href="#">GitHub</a></li>
    </ul>
    <ul class="nav-right">
      <li><a href="#sign-in">Sign in</a></li>
      <li><a href="#sign-up">Sign up</a></li>
    </ul>
  </header>
  <main role="main">
    <div class="container container-primary">
      {% block main %}
      {% endblock main %}
    </div>
  </main>
  <footer class="footer">

  </footer>
  <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
  {% block script %}
  {% endblock script %}
</body>
</html>