{% extends "layout.html" %}
{% block main %}
    <h1>Good Morning {{ user.username }}, </h1>
    <hr>
    <div class="content">
        {% if group.current_trip().progress == Progress.AWAITING_WALKER %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    You are WALKING the kids today for group {{ group.name }} to school {{ group.school.name }}.
                </p> 
                <form method="post">
                    <input type="hidden" name="start" value="true">
                    <input class="btn btn-success" type="submit" value="READY!">
                </form>
                <p class="text-muted lead">
                    Notify parents when you are ready.
                </p>
            {% else %}
                <p class="text-muted lead">
                    Today {{ group.current_trip().walker.fullname }} is walking the kids to school {{ group.school.name }} for group {{ group.name }}, but he's not ready yet.
                </p>
                <p class="text-muted lead">
                    You will receive a notification when the walker is ready.
                </p>
                <script>
                    setInterval(function () {
                        refresh(+'{{ group.current_trip().progress }}');
                    }, 5000);
                </script>
            {% endif %}
        {% elif group.current_trip().progress == Progress.AWAITING_PARENT_CONFIMATION %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    All parents in group {{ group.name }} have been notified, here's a list of the children who have already decided to join you, click start when you start the walk.
                </p>
                {% for participant in group.current_trip().participants %}
                    <input type="checkbox" name="{{ participant.username }}">
                    <label>{{ participant.fullname }}</label>
                {% endfor %}
                <form method="post">
                    <input type="submit" value="START">
                </form>
                <script>
                    setInterval(function () {
                        document.location.reload();
                    }, 5000);
                </script>
            {% else %}
                <p class="text-muted lead">
                    {{ group.current_trip().walker.fullname }} (group {{ group.name }}) is leaving soon to school {{ group.school.name }}.
                </p>
                <p class="text-muted lead">
                    Will your children join him today?
                </p>
                <form method="post" id="participants">
                    {% for child in children %}
                        <input type="checkbox" name="{{ child.username }}" oninput="updateParticipants();">
                        <label>{{ child.fullname }}</label>
                    {% endfor %}
                </form>
            {% endif %}
        {% elif group.current_trip().progress == Progress.WALK_STARTED %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    Here's a list of the kids that will join you today, confirm their presence when they join you.
                </p>
                <form method="post">
                    {% for participant in group.current_trip().participants %}
                        <div>
                            <label><input type="checkbox" name="{{ participant.username }}">{{ participant.address }} ({{ participant.fullname }})</label>
                        </div>
                    {% endfor %}
                    <input type="checkbox" name="finish">
                    <label>{{ group.school.address }} ({{ group.school.name }})</label>
                    <input type="submit" value="Update">
                </form>
            {% else %}
                <p class="text-muted lead">
                    Walk started!
                </p>
                {% for child in children %}
                    {% if child in group.current_trip().participants %}
                        <div>
                            {% if child in (group.current_trip().passengers) %}
                                <input type="checkbox" name="{{ child.username }}" disabled checked>
                            {% else %}
                                <input type="checkbox" name="{{ child.username }}" disabled>
                            {% endif %}
                            <label>{{ child.fullname }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="checkbox" name="finish" disabled>
                <label>{{ group.school.address }} ({{ group.school.name }})</label>
            {% endif %}
        {% elif group.current_trip().progress == Progress.WALK_FINISHED %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    Walk finished!
                </p>
                {% for participant in group.current_trip().participants %}
                    <div>
                        <label><input type="checkbox" name="{{ participant.username }}" disabled checked> {{ participant.address }} ({{ participant.fullname }})</label>
                    </div>
                {% endfor %}
                <input type="checkbox" name="finish" disabled checked>
                <label>{{ group.school.address }} ({{ group.school.name }})</label>
            {% else %}
                <p class="text-muted lead">
                    Walk finished!
                </p>
                {% for child in children %}
                    {% if child in group.current_trip().participants %}
                        <div>
                            <input type="checkbox" name="{{ child.username }}" disabled checked>
                            <label>{{ child.fullname }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="checkbox" name="finish" disabled checked>
                <label>{{ group.school.address }} ({{ group.school.name }})</label>
            {% endif %}
        {% endif %}
    </div>
{% endblock main %}
{% block script %}
    <script src="{{ url_for('static', filename='js/school_trip.js') }}"></script>
{% endblock script %}
