{% extends "layout.html" %}
{% block main %}
    <h1>Good Morning {{ user.username }}, </h1>
    <hr>
    <div class="content">
        {% if group.current_trip().progress == Progress.AWAITING_WALKER %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    You are WALKING the kids today for group {{ group.name }} to school {{ group.school.name }}.
                </p> 
                <form method="post">
                    <input type="hidden" name="start" value="true">
                    <input class="btn btn-success" type="submit" value="READY!">
                </form>
                <p class="text-muted lead">
                    Notify parents when you are ready.
                </p>
            {% else %}
                <p class="text-muted lead">
                    Today {{ group.current_trip().walker.fullname }} is walking the kids to school {{ group.school.name }} for group {{ group.name }}, but he's not ready yet.
                </p>
                <p class="text-muted lead">
                    You will receive a notification when the walker is ready.
                </p>
            {% endif %}
        {% elif group.current_trip().progress == Progress.AWAITING_PARENT_CONFIMATION %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    All parents in group {{ group.name }} have been notified, click start when you start the walk.
                </p>
                <form method="post">
                    <input type="submit" value="START">
                </form>
            {% else %}
                <p class="text-muted lead">
                    {{ group.current_trip().walker.fullname }} (group {{ group.name }}) is leaving soon to school {{ group.school.name }}.
                </p>
                <p class="text-muted lead">
                    Will your children join him today?
                </p>
                <form method="post">
                    {% for child in children %}
                        <input type="checkbox" name="{{ child.username }}">
                        <label>{{ child.fullname }}</label>
                    {% endfor %}
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
        {% elif group.current_trip().progress == Progress.WALK_STARTED %}
            {% if group.current_trip().walker.id == user.id %}
                <p class="text-muted lead">
                    Here's a list of the kids that will join you today, confirm their presence when they join you.
                </p>
                <form method="post">
                    {% for participant in group.current_trip().participants %}
                        <input type="checkbox" name="{{ participant.username }}">
                        <label>{{ participant.fullname }}</label>
                    {% endfor %}
                    <input type="submit" value="Update">
                </form>
            {% else %}
                {% for child in children %}
                    {% if child in (group.current_trip().passengers) %}
                        <input type="checkbox" name="{{ child.username }}" disabled checked>
                    {% else %}
                        <input type="checkbox" name="{{ child.username }}" disabled>
                    {% endif %}
                    <label>{{ child.fullname }}</label>
                {% endfor %}
            {% endif %}
        {% elif group.current_trip().progress == Progress.WALK_FINISHED %}
            {% if group.current_trip().walker.id == user.id %}
            {% else %}
            {% endif %}
        {% endif %}
    </div>
{% endblock main %}
